[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polygon-api-client = "*"
coloredlogs = "*"
boto3 = "*"
mypy-boto3-dynamodb = "*"
mypy-boto3-bedrock = "*"
mypy-boto3-bedrock-runtime = "*"
mypy-boto3-s3 = "*"
mypy-boto3-ses = "*"
mypy-boto3-sqs = "*"
mypy-boto3-secretsmanager = "*"
mypy-boto3-cloudwatch = "*"
mypy-boto3-cloudformation = "*"
mypy-boto3-lambda = "*"
mypy-boto3-ecr = "*"
jinja2 = "*"
pyyaml = "*"
bcrypt = "*"
pyjwt = "*"
markdown = "*"
requests = "*"
beautifulsoup4 = "*"
stripe = "*"
numpy = "*"
joblib = "*"
scikit-learn = "*"
requests-toolbelt = "*"
plaid-python = "*"
user-agents = "*"
datadog-lambda = "*"
mypy-boto3-events = "*"

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
codespell = "*"
moto = {extras = ["dynamodb2"], version = "*"}
coverage = "*"
pytest-cov = "*"
pytest-mock = "*"
typer = "*"
pytest = "*"
freezegun = "*"
isort = "*"

[requires]
python_version = "3.12"
