[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polygon-api-client = "*"
coloredlogs = "*"
boto3 = "*"
mypy-boto3-dynamodb = "*"
mypy-boto3-s3 = "*"
mypy-boto3-bedrock = "*"
mypy-boto3-bedrock-runtime = "*"
mypy-boto3-ses = "*"
mypy-boto3-secretsmanager = "*"
mypy-boto3-cloudwatch = "*"
mypy-boto3-cloudformation = "*"
mypy-boto3-lambda = "*"
jinja2 = "*"
pyyaml = "*"

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
codespell = "*"
isort = "*"
moto = {extras = ["dynamodb2"], version = "*"}

[requires]
python_version = "3.11"
