version: 0.0

#########################
# DEFAULT TEMPLATE SPEC #
#########################

TemplateSpec:

  ###########
  # CONTEXT #
  ###########

  Context:
    User: {{ user }}
    Datestamp: {{ datestamp }}
    PortfolioValue: {{ portfolio_value }}
    Stocks:
      {% for stock in stocks %}
      - Symbol: {{ stock.symbol }}
        Shares: {{ stock.quantity }}
        Price: {{ stock.price }}
        Equity: {{ stock.equity }}
      {% endfor %}
    News:
      {% for news in stock_news %}
      - Symbol: {{ news.symbol }}
        News: {{ news.descriptions }}
      {% endfor %}


  ########
  # KEYS #
  ########

  Keys:
    - Key: User
      Value: {{ user }}
    - Key: Datestamp
      Value: {{ datestamp }}
    - Key: PortfolioValue
      Value: {{ portfolio_value }}
    - Key: UnsubscribeLink
      Value: {{ unsubscribe_link }}

  ###########
  # PROMPTS #
  ###########

  Prompts:
    - Key: Newsletter
      Prompt: |
        Introduce yourself as Walter, an AI bot that writes a daily financial newsletter in a business casual fashion for the given user about their stocks. Focus on the user's specific stocks and provide insights into their composition of the portfolio. Add line breaks and section titles so that the email is nicely organized and easy to read. Give the output in valid markdown.
      MaxGenLength: 600
