 <!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Walter</title>
  <style>
    body {
      font-family: Raleway, Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    table {
      width: 100%;
      border-spacing: 0;
    }
    td {
      padding: 10px;
    }
    .container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }
    .header {
      background-color: #121212;
      color: #ffffff;
      text-align: center;
      padding: 20px 0;
    }
    .content {
      padding: 20px;
      background-color: #f4f4f4;
      text-align: center;
    }
    .footer {
      background-color: #333333;
      color: #ffffff;
      text-align: center;
      padding: 10px 0;
      font-size: 12px;
    }
    a {
      color: #ffffff;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <table role="presentation">
    <tr>
      <td>
        <table role="presentation" class="container">
          <!-- Header Section -->
          <tr>
            <td class="header">
              <h1>Walter</h1>
            </td>
          </tr>

          <!-- Main Content Section -->
          <tr>
            <td class="content">
              <h2>Hello, {{ User }}!</h2>
              <p>Welcome to Walter's newsletter! Your total portfolio value is {{ PortfolioValue }}.</p>
                <h3>The Good</h3>
                <p>{{ TheGood }}</p>
                <h3>The Bad</h3>
                <p>{{ TheBad }}</p>
                <h3>What You Should Know</h3>
                <p>{{ WhatYouShouldKnow }}</p>
              <a href="https://walterai.dev" style="padding: 10px 20px; background-color: #BDBDBD; color: #ffffff; border-radius: 5px; display: inline-block; text-align: center;">Portfolio</a>
            </td>
          </tr>

          <!-- Footer Section -->
          <tr>
            <td class="footer">
              <p><a href={{ UnsubscribeLink }}>Unsubscribe</a></p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
